  
body {
     font-family: 'Noto Sans TC', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
     font-family: 'Noto Sans TC', sans-serif;
}

.subheading {
     font-family: 'Noto Sans TC', sans-serif;
}
.bg-primary{
     background-image:url("img/3px-tile.png");
     background-color: #a8b4ff;
     background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
}
tr:nth-child(even) {
  background-color:#D3A4FF;
}
tr:hover{
  font-weight:bold
}
.gallerytile{
  color:#9F88FF;
  font-size:25px;
}
